<?xml version="1.0" encoding="UTF-8" ?>
<included>
    <appender name="SentryModule" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	         <level>INFO</level>
	    </filter>   
        <File>${intershop.logfile.Directory}/sentry-${intershop.logfile.NamePostfix}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${intershop.logfile.Directory}/sentry-${intershop.logfile.NamePostfix}-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <FileHeader>${intershop.CICLayout}</FileHeader>
                <Pattern>${intershop.CICLayout}</Pattern>
            </layout>
        </encoder>
    </appender>
		
	<logger name="com.ivable.common.sentry.SentryCartridge">
		<level value="INFO" />
		<appender-ref ref="ServerStartupConsole" />
	</logger>
	<logger name="com.ivable.common.sentry">
		<appender-ref ref="SentryModule" />
	</logger>
</included>