#ICM
target/
gradle_user_home/
.settings/
.project
.classpath
*.project
**/rebel.xml
bin/

#studio code generate folder
**/.apt_generated/

# Gradle Files
**/build/
**/.gradle
**/gradle-downloads/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#dont commit gradle wrapper, should be different per organization
gradle-wrapper.properties